In [ ]:
import pandas as pd
import numpy as np
import urllib.request
import json
import textwrap
import time

### Preprocess dataset
1. Read in
2. Clean

In [ ]:
Books = pd.read_csv('./Data/BX-Books.csv', sep = ';', on_bad_lines='skip', encoding = 'latin-1')
Users = pd.read_csv('./Data/BX-Users.csv', sep = ';', on_bad_lines='skip', encoding = 'latin-1')
Book_Ratings = pd.read_csv('./Data/BX-Book-Ratings.csv', sep = ';', on_bad_lines='skip', encoding = 'latin-1')

In [ ]:
Books.iloc[0,0]

### Get Books' Summary using GOOGLE BOOK API

In [ ]:
# new dataset
Book_Summary = pd.DataFrame(Books['ISBN'], columns=['ISBN'])
Book_Summary['Summary'] = ""

In [ ]:
Book_Summary

In [ ]:
Book_Summary.loc[Book_Summary['ISBN'] == "0195153448", 'Summary']

In [41]:
# get summary for every book
idx = 0
for isbn_number in Books['ISBN']:
  base_api_link = "https://www.googleapis.com/books/v1/volumes?q=isbn:"
  user_input = isbn_number
  if idx == 15:
      idx = 0
      time.sleep(10)
  else:
      idx = idx+1
  with urllib.request.urlopen(base_api_link + user_input) as f:
      text = f.read()
  decoded_text = text.decode("utf-8")
  obj = json.loads(decoded_text)
  if len(obj)<3:
      continue
  else:
      volume_info = obj["items"][0]["volumeInfo"]
      if 'description' in volume_info:
          Book_Summary.loc[Book_Summary['ISBN'] == isbn_number, 'Summary'] = volume_info["description"]

In [40]:
Book_Summary

              ISBN                                            Summary
0       0195153448  Provides an introduction to classical myths pl...
1       0002005018  In a small town in Canada, Clara Callan reluct...
2       0060973129  Here, for the first time in paperback, is an o...
3       0374157065  Describes the great flu epidemic of 1918, an o...
4       0393045218  A look at the incredibly well-preserved ancien...
...            ...                                                ...
271355  0440400988
271356  0525447644
271357  006008667X
271358  0192126040
271359  0767409752

[271360 rows x 2 columns]

In [38]:
if 'description' in volume_info:
    print("hej")

hej